h1, p, h2, ul{
    margin: initial;
    padding: 0;
}

ul {
    list-style-type:none
}

h1 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background-image: url(./images/background.png);
}

.wrapper {
    background-color: #ddd;
    width: 800px;
    margin: auto;
}

.header {
    padding: 50px 0;
    background-size: cover;
    background-image: url(./images/cover04.png);
    text-align: center;
    color: white;
}

.header img {
    border-top-left-radius: 200px 100px;
    border-top-right-radius: 200px 100px;
    border-bottom-right-radius: 200px 100px;
    border-bottom-left-radius: 200px 100px;
    border: 5px solid white;
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
}

.header p {
    width: fit-content; /* max-content min-content */
    border-top: 5px solid;
    margin: auto auto;
    padding: 10px 20px;
}

.section {
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.section h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.section.information {
    background-image: url(images/icon-information.png);
}

.section.skills {
    background-image: url(images/icon-skills.png);
}

.footer {
    text-align: center;
    background-color: eee;
    padding: 20px 0;
}

.footer .link {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    border: 4px solid;
}

.link.github {
    color: #222
}

.link.tistory {
    color: dodgerblue
}

.link.contact {
    color: violet
}