/* reset */
p {
    margin:0px;
}


/* component */
.login {
    padding: 25px;
    width: 500px;
    border: 2px solid rgba(118, 118, 118, 0.8);
    border-radius: 10px;
    margin: 100px auto;
}


.login-button {
    display: block;
    margin: 15px auto;
    width: 100%;
    background-color: #711BFF;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.login-button img {
    vertical-align: bottom;
}

.login-button span {
    font-size: 20px;
    color: white;
}

.login-option {
    color: rgb(118, 118, 118);
    overflow: hidden;
    font-size: 12px;
    line-height: 15.02px;
}

.login-option img {
    vertical-align: middle;
}

.login-identify {
    float: left;
}

.find-password {
    padding-left: 5px;
    border-left: 2px solid rgba(118, 118, 118, 0.8);
}

.login-join {
    float: right;
}